<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if picture_list %}
        <ul>
            {% for picture in picture_list %}
                {{ picture }}
                <div style="text-align:center">
                    <img src="{{picture.portfolio.cover_picture.url}}" alt="" height="300rem" width="200rem">
                    <br>
                        <a href="{% url 'portfolio:detail' picture.portfolio.id %}"> {{ picture.portfolio.title }} </a>
                    </br>
                </div>
            {% endfor %}
        </ul>
    {% else %}
        <p>No portfolios are available.</p>
    {% endif %}
</body>
</html>