<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if collections %}
        <ul>
            {% for collection in collections %}
                {{ collection }}
                <div style="text-align:center">
                    <img src="{{collection.title}}" alt="" height="300rem" width="200rem">
                    <br>
                        <a href="{% url 'api:detail' collection.id %}"> {{ picture.portfolio.title }} </a>
                    </br>
                </div>
            {% endfor %}
        </ul>
    {% else %}
        <p>No portfolios are available.</p>
    {% endif %}
</body>
</html>